{
  "Consumer Key": "PASTE_X_CONSUMER_KEY_HERE",
  "Consumer Key Secret": "PASTE_X_CONSUMER_KEY_SECRET_HERE",
  "Access Token": "PASTE_X_ACCESS_TOKEN_HERE",
  "Access Token Secret": "PASTE_X_ACCESS_TOKEN_SECRET_HERE"
}
